<div class="container quiz-container is-fluid">

  <h1 class="title">{{quizService.currentQuestion.value}}</h1>
  <div>Question n° {{quizService.answers.length + 1}}</div>

  <div class="card answer-card" *ngFor="let answer of quizService.currentQuestion.answers; let i = index" (click)="answerChosen(i)">
    <div class="card-content">
      <div class="content answer-text">
        {{answer.value}}
      </div>
    </div>
  </div>

  <a class="card-footer-item" (click)="quizService.previousQuestion()" *ngIf="quizService.answers.length != 0">
    <span class="icon is-small"><i class="fa fa-undo" style="font-size: 25px; color: black"></i></span>
  </a>

</div>
