.quiz-container
  text-align: center
  margin-top: 200px

.question-card
  display: inline-block
  width: 100%

.return-card
  height: 100%

.answer-columns
  margin-top: 60px

.answer-column
  text-align: center

.answer-card
  cursor: pointer
  display: inline-block
  width: fit-content
  height: auto
  padding: 25px

.answer-text
  font-size: 1.25em

@media screen and (max-width: 1600px)
  .answer-card
    padding: 50px

@media screen and (max-width: 1024px)
  .quiz-container
    margin-top: 35px

@media screen and (max-width: 900px)
  .answer-card
    padding: 50px

@media screen and (max-width: 770px)
  .answer-column
    margin-bottom: 25px

  .answer-card
    width: stretch
    margin-left: 25px
    margin-right: 25px
    margin-bottom: 10px
    padding: 10px

@media screen and (max-height: 800px)
  .answer-column
    margin-bottom: 0
    padding: 0
