@import ../../styles

.doc-body
  text-align: center

.doc-container
  text-align: center

.type-tag
  margin-right: 10px

.doc-link
  color: $primary

.doc-link:hover
  color: $primary-dark

.doc-card
  margin: 50px
