<div class="login">
  <div class="login-img">

    <div class="container login-container">
      <div class="columns">

        <div class="column is-4"></div>

        <div class="column is-4">
          <div class="box login-box">
            <form class="login-form" [formGroup]="loginForm" (submit)="login()">
              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-primary" formControlName="email" placeholder="Email" [(ngModel)]="email" name="email">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right" *ngIf="validateEmail(email)">
                    <i class="fa fa-check"></i>
                  </span>
                  <span class="icon is-small is-right" *ngIf="!validateEmail(email)">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <p class="control has-icons-left">
                  <input class="input is-primary" formControlName="password" type="password" placeholder="Password" [(ngModel)]="password" name="password">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </p>
              </div>

              <div class="field is-grouped is-grouped-centered">
                <p class="control">
                  <button class="button is-primary login-button" [disabled]="!loginForm.valid">
                    Login
                  </button>
                </p>
                <p class="control">
                  <a class="button is-light" routerLink="/register">
                    Register
                  </a>
                </p>
              </div>
              <p class="control anonymous-control">
                <button class="button is-light" (click)="anonymousLogin()">
                  Anonymous
                </button>
              </p>
            </form>
          </div>
        </div>

        <div class="column is-4"></div>

      </div>
    </div>
  </div>
</div>

<simple-notifications></simple-notifications>
