<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <!--<div class="navbar-brand">-->
    <!--<a class="navbar-item" href="/home">-->
      <!--<img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">-->
    <!--</a>-->
  <!--</div>-->

  <div class="navbar-menu" [ngClass]="burger ? '' : 'is-active'">
    <div class="navbar-end">
      <a class="navbar-item" (click)="logout()">
        <span class="icon">
          <i class="fa fa-sign-out" style="font-size: 25px"></i>
        </span>
      </a>
      <!--<a class="navbar-item" (click)="infoPannelClick()">-->
         <!--<span class="icon">-->
            <!--<i class="fa fa-info-circle open-info" style="font-size: 25px" *ngIf="infoPannel"></i>-->
            <!--<i class="fa fa-info close-info" style="font-size: 25px" *ngIf="!infoPannel"></i>-->
         <!--</span>-->
      <!--</a>-->
    </div>
  </div>

  <button class="button navbar-burger is-primary" (click)="openBurger()" [ngClass]="burger ? '' : 'is-active'">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

<div class="card user-card" *ngIf="infoPannel">
  <!--<div class="card-image">-->
    <!--<figure class="image is-4">-->
      <!--<img src="../../assets/img/christopherkade.JPG" alt="Placeholder image">-->
    <!--</figure>-->
  <!--</div>-->
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Christopher Kade</p>
      </div>
    </div>

    <div class="content user-info">
      <div class="columns">
        <div class="column">
          <div class="tags has-addons">
            <span class="tag is-medium">Age</span>
            <span class="tag is-primary is-medium">21</span>
          </div>
        </div>

        <div class="column">
          <div class="tags has-addons">
            <span class="tag is-medium">From</span>
            <span class="tag is-primary is-medium">Paris</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item user-link" href="http://www.christopherkade.com" target="_blank">
      <i class="fa fa-globe" style="font-size: 25px"></i>
    </a>
    <a class="card-footer-item user-link" href="http://www.github.com/christopherkade" target="_blank">
      <i class="fa fa-github" style="font-size: 25px"></i>
    </a>
  </footer>

</div>
