<nav class="navbar is-primary" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <span>START CODING</span>
    </a>
  </div>

  <div class="navbar-menu" [ngClass]="burger ? '' : 'is-active'">
    <div class="navbar-end">
      <a class="navbar-item" (click)="logout()">
        <span class="icon">
          <i class="fa fa-sign-out" style="font-size: 25px"></i>
        </span>
      </a>
      <a class="navbar-item" (click)="userPanelClick()">
         <span class="icon">
            <i class="fa fa-info-circle open-info" style="font-size: 25px" *ngIf="infoPannel"></i>
            <i class="fa fa-info close-info" style="font-size: 25px" *ngIf="!infoPannel"></i>
         </span>
      </a>
    </div>
  </div>

  <button class="button navbar-burger is-primary" (click)="burger = !burger" [ngClass]="burger ? '' : 'is-active'">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

<div class="card user-card" *ngIf="infoPannel">
  <div class="card-content">
    <div class="content">
      Username:
      <p class="title is-4">
        <span *ngIf="!editProfile">{{userService.user.displayName}}</span>
        <input class="input" value="{{userService.user.displayName}}" *ngIf="editProfile" [(ngModel)]="userService.user.displayName">
      </p>
      Email:
      <p class="title is-4">
        <span>{{userService.user.email}}</span>
      </p>
    </div>
  </div>

  <footer class="card-footer">
    <a class="card-footer-item user-link" (click)="editProfile = true" *ngIf="!editProfile">
      <i class="fa fa-edit" style="font-size: 25px"></i>
    </a>
    <a class="card-footer-item user-link" (click)="editUserProfile()" *ngIf="editProfile">
      <i class="fa fa-check" style="font-size: 25px"></i>
    </a>
  </footer>

</div>

<simple-notifications></simple-notifications>
