<nav class="navbar is-primary" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <span>START CODING</span>
    </a>
  </div>

  <div class="navbar-menu" [ngClass]="burger ? '' : 'is-active'">
    <div class="navbar-end">    
      <a class="navbar-item" (click)="userProfileClick()">
         <span class="icon">
            <i class="fa fa-user" style="font-size: 25px"></i>
         </span>
      </a>
    </div>
  </div>

  <button class="button navbar-burger is-primary" (click)="burger = !burger" [ngClass]="burger ? '' : 'is-active'">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

<app-profile *ngIf="userProfile && userService.user"></app-profile>
