@import ../node_modules/bulma/sass/utilities/initial-variables

body
  width: 100%
  height: 100%
  margin: 0

html
  width: 100%
  height: 100%

app-root
  width: 100%
  height: 100%
  position: absolute

::-webkit-scrollbar
  display: none

$primary: #80cbc4
$primary-light: #b2fef7
$primary-dark: #4f9a94

$secondary: #e8eaf6
$secondary-light: #ffffff
$secondary-dark: #b6b8c3

$info: #009688

@import ~bulma
