<section class="hero welcome-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Start your coding journey today !
      </h1>
      <a class="button is-primary" (click)="startQuiz()">Let's go</a>
    </div>
  </div>
</section>

<section class="section info-section">
  <div class="container">
    <h1 class="title">What is this place?</h1>

    <h2>
      <strong>Start coding</strong> is a platform that allows individuals of <strong>any</strong> skill level
      to find the tools they need to start coding or improve on their skills.
    </h2>

    <div class="columns info-cards">
      <div class="column info-column">
        <div class="card">
          <div class="card-image">
            <span class="icon has-text-info info-icon">
              <i class="fa fa-check"></i>
            </span>
          </div>
          <div class="card-content">
            <p class="subtitle">
              One short quiz
            </p>
          </div>
        </div>
      </div>

      <div class="column info-column">
        <div class="card">
          <div class="card-image">
            <span class="icon has-text-info info-icon">
              <i class="fa fa-book"></i>
            </span>
          </div>
          <div class="card-content">
            <p class="subtitle">
              Get the documentation you need
            </p>
          </div>
        </div>
      </div>

      <div class="column info-column">
        <div class="card">
          <div class="card-image">
            <span class="icon has-text-info info-icon">
              <i class="fa fa-line-chart"></i>
            </span>
          </div>
          <div class="card-content">
            <p class="subtitle">
              Follow your improvements as a developer
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <div class="card-image">
          <span class="icon has-text-info info-icon">
            <i class="fa fa-smile-o"></i>
          </span>
        </div>

        <div class="card-content">
          <div class="subtitle">
            Happy coding !
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
