<app-nav></app-nav>

<section class="hero welcome-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{welcomeTitle}}
      </h1>
      <h2 class="subtitle">
        {{welcomeSubtitle}}
      </h2>

      <a class="button is-primary">Let's go</a>
    </div>
  </div>
</section>

<section class="section info-section">
  <div class="container">
    <h1 class="title">What is this place?</h1>
    <h2 class="subtitle">
      <strong>Start coding</strong> is a platform that allows individuals of <strong>any</strong> skill level
       to find the tools they need to start coding or improve on their skills.
    </h2>
  </div>
</section>
